@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Gochi+Hand&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
    top: -220px;
    left: 90px;
}

// img:hover{ 
//     position: relative; 
//     top: 10px;
// }

h1 {
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Swanky and Moo Moo', cursive;
    color: rgb(65, 91, 152);
    font-size: 150px;
}

.name {
    color: rgb(65, 91, 152);
    font-family: 'Concert One', cursive;
}

.size {
    display: block;
    position: relative;
}

.savedBuildsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeButton{
    // float: right;
    margin-right: 0;
}

.savedBuilds {
    justify-content: center;
    // display: flex;
    align-items: center;
    // font-family: 'Swanky and Moo Moo', cursive;
    color: black;
    border: 1px solid black;
    // height: 2000px;
    width:1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    // flex-direction: column;
    // margin-left: 10px;
    // margin-right: auto;
    
}

.buildBox {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  white-space: initial;
  font-size: 25px;
  word-break: break-all;
//   width: 1300px;
  height: 250px;
//   float: left;
//   font-family: 'Architects Daughter', cursive;
font-family: 'Architects Daughter', cursive;
}

.logo {
    font-size: 180px;
    color: rgb(65, 91, 152);
    // font-family: 'Press Start 2P', cursive;
    // font-family: 'Gloria Hallelujah', cursive;
    // font-family: 'Concert One', cursive;
    // font-family: 'Orbitron', sans-serif;
    // font-family: 'Gochi Hand', cursive;
    // font-family: 'Turret Road', cursive;
    // font-family: 'Walter Turncoat', cursive;
    // font-family: 'Swanky and Moo Moo', cursive;
    // font-family: 'Architects Daughter', cursive;
    // font-family: 'Shadows Into Light', cursive;
    // font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.startBuildButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -50%;
    margin-top: -200px;
}

.savedBuildsButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

.startBuild {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 135px;
}